@page "/UpdatePassword"
@using Models.UIRequests
@inject HttpClient Http

<PageTitle>Atualizar Senha</PageTitle>

<div style="display: flex; justify-content:center; flex-wrap: wrap; align-content: center; height: 100%;">
    <div style="display: flex; justify-content: center; flex-direction:column;">
        <display class="col-lg-12" style="display: flex; justify-content: center; margin-bottom: 30px; margin-top: 30px;">
            <i class="fa-solid fa-clipboard-list" style="color: white; font-size: 70px;"></i>
        </display>

        <display class="col-lg-12" style="display: flex; justify-content:center; flex-wrap: wrap; align-content: center">
            <EditForm Model="_UIUserEmailRecoverPassword" OnValidSubmit="UpdatePasswordCommand">
                <DataAnnotationsValidator />

                <div class="row mb-3">
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <InputText type="email" class="form-control" id="inputEmail" @bind-Value="@_UIUserEmailRecoverPassword.Email" />
                        <ValidationMessage For="@(() => _UIUserEmailRecoverPassword.Email)" />
                    </div>
                </div>

                <div class="col-lg-12" style="display: flex; justify-content:center">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;@BtnSendEmailText</button>
                </div>


                <div class="col-lg-12" style="margin-top: 20px">Não tem conta? <a href="#">Criar Conta</a></div>
                <div class="col-lg-12" style="margin-top: 5px; margin-bottom: 20px;">Esqueceu sua Senha? <a href="#">Atualizar Senha</a></div>

            </EditForm>
        </display>
    </div>
</div>
@code {
    [Parameter] public UIUserEmailRecoverPassword _UIUserEmailRecoverPassword { get; set; } = new UIUserEmailRecoverPassword();

    [Parameter] public string BtnSendEmailText { get; set; } = "Enviar Email";

    private async Task UpdatePasswordCommand()
    {
        Console.WriteLine(_UIUserEmailRecoverPassword);

        // var result = await Http.PostAsJsonAsync("/api/employee/saveemployee", _UIUserSignIn);
        // if (result != null && result.StatusCode == System.Net.HttpStatusCode.OK)
        // {
        //     navigationManager.NavigateTo("employee/index");
        // }
    }
}
