@using InventoryWeb.Components
@using InventoryWeb.Infra.Services
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ToastService ToastService
@inject NavMenuService NavMenuService

<div class="page" style="height: 100%">
	<AuthorizeView>
		<Authorized>
			<NavMenu />
		</Authorized>
		@*         <NotAuthorized>
            <p>Por favor, faça login para acessar esta seção.</p>
            <a href="/signin">Login</a>
        </NotAuthorized> *@
	</AuthorizeView>
	<script src="js/toast.js"></script>
	<main>
		<ToastContainer />
		<article class="content px-4" style="height: 100%;">
			<div class="d-flex align-items-center">
				<button title="Navigation menu" class="btn btn-outline-light me-3 mb-2" @onclick="NavMenuService.ToggleNavMenu">
					<i class="fa-solid fa-bars"></i>
				</button>
				<h5 style="color: var(--primary-green);">Xpem Inventário</h5>
			</div>
			@Body
		</article>
	</main>
</div>

@code {
	// private Toast toastRef;
	// public string ToastMessage { get; set; } = string.Empty;

	// protected override void OnInitialized()
	// {
	//     ToastService.OnShow += ShowToast;
	// }

	// public async Task ShowToast(string message)
	// {
	//     ToastMessage = message;
	//     StateHasChanged();
	//     if (toastRef != null)
	//         await toastRef.ShowAsync();
	// }
}